<header id="app-bar">
  <button id="btn-abrir-menu" type="button" aria-label="Abrir menu">☰</button>
</header>

<nav id="menu-lateral">
  <div id="cabecalho-menu">
    <strong>Menu</strong>
    <button id="btn-fechar-menu" type="button" aria-label="Fechar menu">
      ←
    </button>
  </div>
  <hr />
  <ul>
    <li><a href="../registro-ponto/index.html">Registrar Ponto</a></li>
    <li><a href="../espelho-ponto/index.html">Espelho de Ponto</a></li>
    <li><a href="../ajuste-ponto/index.html">Ajuste de Ponto</a></li>
  </ul>
</nav>
</div>
<script src="script.js" defer></script>
<script type="module" src="../components/menu/generate-component.js"></script>
</body>

</html>